<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">

	<targets>
		<!-- Log Info -->
		<target name="infoFile" xsi:type="File"
				fileName="logs/info.log"
				layout= "&quot;Time&quot;: &quot;${longdate}&quot;, &quot;Level&quot;: &quot;${level}&quot;, &quot;UserId&quot;: &quot;${event-properties:UserId}&quot;, &quot;RoleId&quot;: &quot;${event-properties:RoleId}&quot;, Message&quot;: &quot;${message}&quot;"
				/>

		<!-- Log Error -->
		<target name="errorFile" xsi:type="File"
				fileName="logs/error.log"
				layout= "&quot;Time&quot;: &quot;${longdate}&quot;, &quot;Level&quot;: &quot;${level}&quot;, &quot;UserId&quot;: &quot;${event-properties:UserId}&quot;, &quot;RoleId&quot;: &quot;${event-properties:RoleId}&quot;, Message&quot;: &quot;${message}&quot;"
				/>
	</targets>

	<rules>
		<!-- Chia file theo level -->
		<logger name="*" minlevel="Info" maxlevel="Info" writeTo="infoFile" />
		<logger name="*" minlevel="Error" maxlevel="Error" writeTo="errorFile" />
	</rules>
</nlog>
